:root {
   --login-background: url('../../assets/LoginImage.jpg');
  }
.containerStyle {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  max-width: none;
  overflow: hidden;
  background: var(--login-background) no-repeat center center;
  background-size: cover;
}

.loginBoxContainer {
  width:35rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;         
  padding: 0; 
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 24px;

}

.loginCard {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  border: 1px solid #EBEBEB;
  box-shadow: 2px 2px 24px 0px #00000014;
  border-radius: 24px;
  padding: 2rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.logoAlignment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
  
  
}

.logoStyle {
  width: 20rem;
}

.loginTitle {
  font-family: var(--font-primary) !important;
  font-weight: 800;
  font-size: 2rem;
  line-height: 100%;
  color: #242424;
  margin-bottom: 0.5rem;
}

.loginSubTitle {
  font-family: var(--font-primary) !important;
  padding: 0.5rem;
  font-weight: 400;
  font-size: 1rem;
  color: #6B6B6B;
}

.inputContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0.75rem 0px 1.875rem 0px;
}

.usernameTextInput,
.passwordTextInput {
  width: 100%;
  border: 1px solid #D9D9D9;
  border-radius: 16px;
  padding: 1rem 1.3rem;
  box-sizing: border-box;
  font-size: 1rem !important;
  outline: none !important;
}

.loginButton {
  width: 100%;
  padding: 1.1rem;
  border-radius: 20px;
  background-color: #002C56;
  border: none;
  font-family: var(--font-primary) !important;
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffffff;
  box-sizing: border-box;
  cursor: pointer;
}

.errorMessage {
  color: red;
  margin: 0.5rem 0;
  text-align: center;
}