#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 260px 1fr 200px;
  background-color: #f3f4f6; /* Tailwind's gray-100 */
}