:root {
  --font-primary: 'Inter', sans-serif;
  --font-color: #222222;
  --font-size: 14px;
  --bold-font-color: #25262D;
  background-color: #F6F7FC;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100vw;
  height: 100vh;

  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #F4B64A;
  --secondary: #047F64;
  --secondary-hover: #04765d;
  --primary-hover: #e6ac48;
  --cancel: #ff655d;
  --accent: #0F2864;
  --accent-hover: #346bca;
  --background: #f5f5f7;
  --card-bg: #ffffff;
  --text: #1c1c1e;
  --muted-text: #8e8e93;
  --border-radius: 5rem;
  --transition: all 0.3s ease;
  --edit-button-color: #007aff;
  --run-button-color: #28a745;
  --delete-button-color: #dc3545;
  --stop-button-color: #1d1d1d;
  --actions-bg: #e9e9ff;
}

input:-webkit-autofill {
  background-color: white !important;
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: black !important;
}

.appinment-modal-date-picker .css-1y4gq5a-MuiPickersSectionList-root-MuiPickersInputBase-sectionsContainer-MuiPickersOutlinedInput-sectionsContainer {
  padding: 14px 0 !important;
}

.appinment-modal-date-picker-width .css-1rbh3ek-MuiStack-root>.MuiTextField-root,
.css-1rbh3ek-MuiStack-root>.MuiPickersTextField-root {
  width: 100%;
}

.css-1umw9bq-MuiSvgIcon-root {
  color: lightgrey;
}

.css-1fb7els-MuiPickersSectionList-root-MuiPickersInputBase-sectionsContainer-MuiPickersOutlinedInput-sectionsContainer {
  padding: 14px 0 !important;
}

.MuiSelect-select {
  font: var(--font-primary) !important;
}

.MuiMenuItem-root {
  font: var(--font-primary) !important;
}

.MuiSelect-icon {
  font: var(--font-primary) !important;
}

.css-qru2u2-MuiPickersSectionList-root-MuiPickersInputBase-sectionsContainer-MuiPickersOutlinedInput-sectionsContainer {
  max-width: 7rem !important;
  padding: 7px 0px !important;
  border-radius: 8px !important;
}

.center-appointment-date-picker {
  margin-top: 0.5rem !important;
}

.center-appointment-date-picker .css-1fb7els-MuiPickersSectionList-root-MuiPickersInputBase-sectionsContainer-MuiPickersOutlinedInput-sectionsContainer {
  max-width: 7rem !important;
  font-family: var(--font-primary) !important;
  padding: 7px 0px !important;
  border-radius: 8px !important;
}

.center-appointment-date-picker .css-1y4gq5a-MuiPickersSectionList-root-MuiPickersInputBase-sectionsContainer-MuiPickersOutlinedInput-sectionsContainer {
  max-width: 7rem !important;
  padding: 7px 0px !important;
  border-radius: 8px !important;
}

.center-appointment-date-picker .css-vycme6-MuiPickersInputBase-root-MuiPickersOutlinedInput-root {
  border-radius: 8px !important;
}

.mantine-InputWrapper-error {
  text-align: left;
  color: red;
}

.navbarIconDiv {
  filter: brightness(0) saturate(100%) invert(15%) sepia(16%) saturate(6176%) hue-rotate(186deg) brightness(92%) contrast(106%);
}

/* stream form sections start */
.mui-dialog-title {
  font-size: 1.5rem !important;
  padding: 0.5rem !important;
}

.mui-tool-tip-level {
  font-size: 0.8rem;
}

.mui-tool-tip-level .MuiTypography-root{
  color: black;
  font-weight: bold !important;
}

.mui-tool-tip-level .MuiSvgIcon-root {
  width: 0.8em;
  height: 0.8em;
}

.srt-menu-item-group{
  font-size: 0.7rem !important;
}

.add-stream-box .Mui-error {
  font-size: 0.7rem;
  margin-left: 0;
}

.add-stream-box .MuiFormControlLabel-label{
  font-size: 0.8rem;
}

.add-stream-box .stream-form-srt-section {
  padding: 0.5rem;
  padding-left: 1rem;
  padding-bottom: 0;
  margin-bottom: 1rem;
  border: 1px solid #dfdfdf;
  border-radius: 0.8rem;
}

.stream-form-output-section-container {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #dfdfdf;
  border-radius: 0.8rem;
}

.stream-form-output-section-container .MuiTypography-subtitle1{
  font-size: 1.1rem;
}

.stream-form-output-section-container .MuiTypography-body1{
  font-size: 0.9rem;
}

/* stream form sections end */

.stream-collapsable-box {
  background-color: #dcdcdc;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.output-stream-dialog-body{
      padding: 1rem;
    background: #ffffff;
}

.MuiDataGrid-iconButtonContainer .MuiSvgIcon-root{
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(6656%) hue-rotate(157deg) brightness(109%) contrast(94%) !important;
}

.MuiDataGrid-sortIcon{
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(6656%) hue-rotate(157deg) brightness(109%) contrast(94%) !important;
}

.css-1kie6pk-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
  font-size: 12px !important;
  font-weight: 400 !important;
}

.css-lolunl-MuiInputBase-input-MuiOutlinedInput-input{
  font-size: 12px !important;
  font-weight: 500 !important;
}

button:disabled {
    background-color: rgb(207 206 206 / 30%) !important;
    cursor: not-allowed;
    pointer-events: none;
}